/* "*" is a universal selector */
*{
   box-sizing: border-box;
}
body{
   margin: 0;
}

.container,.navbar,.grid{
   border: 1px solid;
}

.container{
   height: 100vh;
}

.navbar{
   display: flex;
   background-color: #b2bec3;
   height: 15vh;
}

.grid{
   background-color: lavenderblush;
   height: 85vh;
}

.filters,.action_button{
   border: 1px solid;
   display: inline-block;
   height: 50%;
   background-color: #636e72;
   margin-top: calc( ( 25 / 100 ) * 15vh );
   margin-left: 5rem;
}

.filters{
   width: 16rem;
   display: flex;
}

.filter{
   height: 100%;
   width: 25%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-collapse: collapse;
}

.filter:hover{
   background-color: #dfe6e9
}

.filter div{
   height: 50%;
   width: 50%;
   border: 1px solid;
   border-radius: 6px;
}

.pink{
   background-color: pink;
}

.green{
   background-color: green;
}

.blue{
   background-color: blue;
}

.black{
   background-color: black;
}

.action_button{
   width: 8rem;
   display: flex;
}

.add,.delete{
   height: 100%;
   width: 50%;
   /* border: 1px solid; */
   font-size: 3rem;
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
}

.add:hover,.delete:hover{
   background-color: #dfe6e9;
}

.material-icons{
   font-size: 2rem!important;
}